/* style.css for Sunglasses Database assignment, COMP220
 * By Benjamin Garrett
 */

body {
    color: #f28705; /** orange-ish, main text colour **/
    background-color: #2e038c; /** deep blue, main background colour **/
    font-size: 1.2em;
}

h1,h2,h3,h4,h5  {
    color: #f20587; /** pinkish, main emphasis and logo colour **/
}

input[type="text"], textarea {
    background-color: #f2b705; /** yellow gold, input background**/
    font-size: 1.2em;
}

div {
    border-left-width: 1px;
    border-color: #bf3604; /** ruddy brown, border line colour **/
}

a:link   {
    color: #f20587;
}

a:visited   {
    color: #bf3604;
}

button  {
    margin: 0.2em;
    background-color: #f20587;
}

table, th, td   {
    border: 1px solid #bf3604;
    border-collapse: collapse;
    padding: 0.2em;
}

.buttonBar  {
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

div.outer    {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

div.mainHeader  {
    background-color: #ffffff44;
    border: 2px solid #bb6666;
    border-bottom: 0;
    padding-bottom: 0.2em;
}

div.mainBody    {
    border: 2px solid #bb6666;
}

div.bordered   {
    border: 1px solid #bf3604;
    padding: 0.4em;
}

div.control    {
    padding: 0.4em;
}

/* DROPBTN */
.dropbtn {
  background-color: #f1802d;
  color: black;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #549aab;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 1em;
}

.dropdown-content a:hover {background-color: #b0d7e1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #b0d7e1;}
